body {
  background-color: #212529;
}

h1 {
  text-align: center;
}

h1,
h2,
p {
  color: #e9e9e9;
}

.titulo {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#btnMostrarMarcadores {
  margin-top: 2%;
}
